<app-header id="admin_header"></app-header>
<div class="component_container">
  <main class="container_main">
    <div class="admin_header">
      <div class="admin_headings">
        <h1>Assessments</h1>
      </div>
    </div>
    <div class="admin_bgcontent">
      <div class="admin_content">
        <div class="header_row">
          <h2>Assessment List</h2>
          <collab-comp-button
            type="button"
            [buttonConfig]="AddAssessmentConfig"
            (onBtnClick)="openModal()"
          ></collab-comp-button>
        </div>
        <div class="assessment_table" *ngIf="isResultLoaded">
          <!-- <collab-comp-table-grid
            [rowData]="rowData"
            [columnNames]="columnNames"
            [hidePagination]="true"
          >
          </collab-comp-table-grid> -->
          <app-table-grid
            [rowData]="rowData"
            [hidePagination]="true"
            [columnNames]="columnNames"
            [defaultColDef]="defaultColDef"
          ></app-table-grid>
        </div>
      </div>
    </div>

    <app-modal
      class="submit_modal"
      tabindex="-1"
      role="dialog"
      id="CreateAssessmentModal"
      [modalConfig]="CreateAssessmentModal"
      (onClick)="submitForm()"
      trapFocus
    >
      <div class="modal_content">
        <form [formGroup]="assessmentFG">
          <ng-container formArrayName="assessmentList">
            <ng-container
              *ngFor="
                let assessment of assessmentList.controls;
                let index = index
              "
            >
              <div [formGroupName]="index" class="assessment_fields">
                <div class="input__field--wrapper assessment_name">
                  <input
                    type="text"
                    formControlName="assessment"
                    placeholder="Enter Assessment Name Here"
                  />
                </div>
                <div class="assessment_actions">
                  <span
                    class="icon-Add icon--xl"
                    (click)="addAssessment()"
                  ></span>
                  <span
                    class="icon-Remove icon--xl"
                    [ngStyle]="{
                      opacity: this.assessmentList.length > 1 ? 1 : 0
                    }"
                    (click)="removeAssessment(index)"
                  ></span>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </form>
      </div>
    </app-modal>
    <!-- </main> -->
    <!-- </div> -->
  </main>
</div>
