.modal-dismiss {
    padding: 1px 6px;
    color: #FFFFFF;
    background: #004a97;
    border: 0px;
}

.modal-title {
    padding: 0px 20px;
    font-size: 1.25em;
    margin-bottom: 0;
}

.modal-close-icon {
    display: flex;
    align-items: center;
    color: white !important;
    padding: 2px 2px;
}