<header class="header">
  <div class="header__logo">
    <img
      src="../../../../assets/{{ logo_name }}"
      alt="AVA Logo"
      title="AVA Logo"
    />
  </div>
  <div class="icons">
    <img
      src="../../../../assets/{{ search_icon }}"
      alt="search"
      title="search"
    />
    <div class="notification">
      <img
        class="notification-icon"
        src="../../../../assets/{{ notification_icon }}"
        alt="Notification Logo"
        title="Notification"
      />
      <div class="badge">1</div>
    </div>
    <img
      src="../../../../assets/{{ account_icon }}"
      alt="Account Icon"
      title="Account"
    />
  </div>
</header>
